_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [114]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-06-06 20:21:57--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.186.13
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.186.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  31.1MB/s    in 7.0s

2019-06-06 20:22:04 (27.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [115]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [116]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01

In [117]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [118]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [119]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [120]:
!head aisles.csv

aisle_id,aisle
1,prepared soups salads
2,specialty cheeses
3,energy granola bars
4,instant foods
5,marinades meat preparation
6,other
7,packaged meat
8,bakery desserts
9,pasta sauce

In [121]:
!wc aisles.csv

 135  311 2603 aisles.csv

In [122]:
import pandas as pd

aisles = pd.read_csv('aisles.csv')
aisles.shape

(134, 2)

In [123]:
display(example)

### departments

In [124]:
# !head departments.csv
departments = pd.read_csv('departments.csv')
departments.head(21)

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

### order_products__prior

In [125]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.shape

(32434489, 4)

In [126]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [127]:
!free -m

              total        used        free      shared  buff/cache   available
Mem:          13022        8581         154           0        4286       10645
Swap:             0           0           0

In [128]:
order_products__prior.isna().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [129]:
order_products__prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [130]:
order_products__prior.groupby('order_id')['product_id'].count().mean()

10.088883421247614

In [131]:
display(example)

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [133]:
order_products__train.shape

(1384617, 4)

In [134]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [136]:
orders.shape

(3421083, 7)

In [137]:
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

Orders data will give us

  -user_id
  
  -order_id
  
  -order_dow
  
  -order_hour_of_day
  
  order_id, product_id, card_order are in prior (and train)

### products

In [0]:
products = pd.read_csv('products.csv')

In [139]:
products.shape

(49688, 4)

In [140]:
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [142]:
order_products.shape

(33819106, 4)

In [0]:
assert 1 == 1

In [144]:
assert 1 == 0 #practicing assertion (errors)

AssertionError: ignored

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
condition = order_products['order_id'] == 2539329
order_products[condition]

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
condition = orders['user_id'] == 1 & (orders['order_number'] <= 2)
columns = ['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']

subset = orders.loc[condition, columns]
subset

In [0]:
display(example)

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']
order_products[columns].head()

In [0]:
merged = pd.merge(subset, order_products[columns], how='inner', on='order_id')
merged

Merge with columns from `products`

In [0]:
products.head()

In [0]:
columns = ['product_id', 'product_name']
product_names = products[columns]
product_names.head()

In [0]:
display(example)

In [0]:
merged_with_products = pd.merge(merged, product_names, how='inner', on='product_id')
merged_with_products

In [0]:
merged_with_products = merged_with_products.sort_values(by=['order_number', 'add_to_cart_order'])
merged_with_products.columns = [column.replace('_', ' ') for column in merged_with_products]
merged_with_products

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
table1.columns.tolist()

In [0]:
table1.index.tolist()

In [0]:
tidy = table1.reset_index().melt(id_vars='index')
tidy = tidy.rename(columns={'index':'name', 'variable':'trt', 'value': 'result'})

tidy['trt'] = tidy['trt'].str.replace('treatment', '')

tidy.set_index('name')

tidy

## Table 2 --> Tidy

In [0]:
##### LEAVE BLANK --an assignment exercise #####
tidy2 = table2.reset_index().melt(id_vars='index')
tidy2.rename(columns={'index': 'trt', 'variable': 'name', 'value': 'result'}, inplace=True)

tidy2['trt'] = tidy2['trt'].str.replace('treatment', '')
tidy2

# tidy2.set_index('trt')

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

## Tidy --> Table 2

In [0]:
tidy.pivot_table(index='name', columns='trt', values='result')

In [0]:
tidy

In [0]:
##### LEAVE BLANK --an assignment exercise #####
tidy2.pivot_table(index='trt', columns='name', values='result')

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
orders.head()

In [0]:
products.head()

In [0]:
order_products.head()

In [0]:
orders_columns = ['order_id', 'order_hour_of_day']
products_columns = ['product_id', 'product_name']
order_products_columns = ['order_id', 'product_id']

orders[orders_columns].head()
products[products_columns].head()
order_products[order_products_columns].head()

In [0]:
merge_orders = pd.merge(orders[orders_columns], order_products[order_products_columns], on='order_id')

In [0]:
merge_orders.head()

In [0]:
final_merge = pd.merge(merge_orders, products[products_columns], on='product_id')
final_merge.head()

In [0]:
condition = (final_merge['product_name'] == 'Half And Half Ultra Pasteurized') | (final_merge['product_name'] == 'Half Baked Frozen Yogurt')
final_merge[condition].sample(5)

final_merge = final_merge[condition]

In [0]:
final_merge.head()

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
cream = final_merge[final_merge['product_name'] == 'Half And Half Ultra Pasteurized']
froyo = final_merge[final_merge['product_name'] == 'Half Baked Frozen Yogurt']

In [0]:
cream['order_hour_of_day'].value_counts(normalize=True).sort_index().plot()
froyo['order_hour_of_day'].value_counts(normalize=True).sort_index().plot();

### 2. crosstab

In [0]:
(pd.crosstab(final_merge['order_hour_of_day'], final_merge['product_name'], normalize='columns') * 100).plot();

### 3. Pivot Table

In [0]:
final_merge.pivot_table(index='order_hour_of_day', columns='product_name', values='order_id', aggfunc=len).plot();

### 4. melt

In [0]:
table = pd.crosstab(final_merge['order_hour_of_day'], final_merge['product_name'], normalize=True)

melted = (table
.reset_index().melt(id_vars='order_hour_of_day')
.rename(columns={'order_hour_of_day': 'Hour of Day Ordered',
                 'product_name': 'Product',
                'value': 'Percent of Orders by Product'}))

sns.relplot(x="Hour of Day Ordered",
           y="Percent of Orders by Product",
           hue="Product",
          data=melted,
          kind='line');

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [150]:
# products - product_name, product_id
# orders - order_id, product_id

subset = products[['product_id', 'product_name']].merge(order_products[['order_id', 'product_id']]).merge(orders[['order_id']])
subset.head()

   product_id                product_name  order_id
0           1  Chocolate Sandwich Cookies      1107
1         769      Sliced American Cheese      1107
2        6184                 Clementines      1107
3        8048     Packaged Grape Tomatoes      1107
4        9007              Frosted Flakes      1107

In [156]:
subset['product_name'].value_counts()[:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####
flights.head()

In [0]:
flights.pivot_table(index='year', columns='month') #Didn't need values='passengers'

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)